

h1 {
  border-bottom: 1px solid gray;
}

/* View: Vehicle list */
.vehicles {
  list-style: none;
}

.vehicles li {
  clear: both;
  height: 100px;
  padding-top: 10px;
  margin: 0;
}

.thumb {
  float: left;
  height: 100px;
  padding: 5px 10px 5px 5px;
  width: 120px;
}

.table {
  padding: 0;
}

/* View: Vehicle detail */
.vehicle {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.vehicle-thumbs {
  list-style: none;
  margin: 0;
}

.vehicle-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.vehicle-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}
