
        <div class="col-lg-2" id="sidebar" role="navigation">
            <ul class="nav">
              <li><a ui-sref=".inventory">Inventory</a></li>
              <li><a ui-sref=".employees">Employees</a></li>
              <li><a ui-sref=".customers">Customers</a></li>
              <li><a ui-sref=".sales">Sales</a></li>              
            </ul>
        </div>
  	
        <!-- main area -->
        <div class="col-lg-10">

          <div ui-view>
            
            <div class="jumbotron text-center">
                <h1>Employee Dashboard</h1>
                <p>Manage - Track - Sell</p>
            </div>
          </div>
         
        </div>