<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">

      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="vehicle in $ctrl.vehicles | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
          <a ui-sref='phoneId({phoneTag: "{{vehicle._id}}" })'  class="thumb">
            <img ng-src="img/golf.png" alt="{{vehicle.make}} {{vehicle.model}}" />
          </a>
          <a  ui-sref='phoneId({phoneTag: "{{vehicle._id}}" })' >{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</a>
          <p>${{vehicle.price}} &nbsp; | &nbsp;
          {{vehicle.miles}} miles <br>
          Exterior Color: {{vehicle.color}}</p>
          
        </li>
      </ul>

    </div>
  </div>
</div>
