<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">

      <!--Body content-->

      <ul class="vehicles">
        <li class="thumbnail" ng-repeat="vehicle in $ctrl.vehicles | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <a class="thumb" ui-sref='vehicleId({vehicleTag: "{{vehicle._id}}" })'>
            <img class="showroom-thumb" src="{{vehicle.imgurl}}" alt="Image Not Available">
          </a>
          <div class="showroom-description">
            <a ui-sref='vehicleId({vehicleTag: "{{vehicle._id}}" })' >{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</a>
            <p>${{vehicle.price}} &nbsp; | &nbsp;
            {{vehicle.miles}} miles <br>
            Exterior Color: {{vehicle.color}} <br>
          {{vehicle.description}} </p>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
